{% extends 'cards/base.html' %} {% block content %}

<div class="page-title container-sm text-center shadow rounded mx-auto">
  <h1>Scorecard</h1>
</div>
<br />
<div style="display: grid; place-items: start center">
  <div
    class="main-card card text-center shadow py-5 px3"
    style="width: clamp(20em, 80%, 100em)"
  >
    <section class="content-info">
      <div class="container paddings-mini tbl-container">
        <div class="row tbl-fixed">
          <table
            class="table-striped table-responsive table-hover result-point"
          >
            <thead class="point-table-head">
              <tr>
                <th class="colhead"><div class='cell-inner name-inner'>Name</div></th>
                <th>Do Dodge</th>
                <th>Elbow Room</th>
                <th>Wigwam</th>
                <th>Depot</th>
                <th>Sports Page</th>
                <th>Reboot</th>
                <th>Mouse Trap</th>
                <th>Clancy's</th>
                <th>Dooleys</th>
                <th>GI</th>
                <th>Brothers</th>
                <th>Pio</th>
                <th>Pickle</th>
                <th>Nann's</th>
                <th>Brat</th>
                <th>Total</th>
              </tr>
            </thead>
            <tbody class="text-center">
              {% for person in golfers %}
              <tr>
                <td class="text-center colhead">
                  <div class='cell-inner'>
                  {{ person.user.first_name|capfirst }} {{ person.user.last_name|capfirst }}
                  </div>
                </td>
                <td>{{ person.do_dodge }}</td>
                <td>{{ person.elbow_room }}</td>
                <td>{{ person.wigwam }}</td>
                <td>{{ person.depot }}</td>
                <td>{{ person.sports_page }}</td>
                <td>{{ person.reboot }}</td>
                <td>{{ person.mouse_trap }}</td>
                <td>{{ person.clancys }}</td>
                <td>{{ person.dooleys }}</td>
                <td>{{ person.gi }}</td>
                <td>{{ person.brothers }}</td>
                <td>{{ person.pio }}</td>
                <td>{{ person.pickle }}</td>
                <td>{{ person.shenanns }}</td>
                <td>{{ person.brat }}</td>
                <td>{{ person.total }}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </section>
  </div>
</div>
<style>
  .colhead {
    box-sizing: border-box;
    position: sticky;
    width: 12em;
    left: -1px;
    margin-left: -1px;
    background-color: #ffffff;
    border: 1px solid #dedede;
    padding: 0 !important;
  }
  .cell-inner {
    width: 100% !important;
    height: 100% !important;
    padding: 10px 20px;
    border: 1px solid #dedede;
  }
  .name-inner {
    margin: 0 !important;
  }
  .content-info {
    background: #ffffff;
    padding: 40px 0;
    background-size: cover !important;
    background-position: top center !important;
    background-repeat: no-repeat !important;
    position: relative;
    padding-bottom: 100px;
  }
  .tbl-fixed {
    border-right: 1px solid #dedede;
    border-left: 1px solid #dedede;
  }

  .tbl-container {
    max-width: fit-content;
    max-height: fit-content;
  }

  .tbl-fixed {
    overflow-x: scroll;
    overflow-y: visible;
  }

  table {
    width: 100%;
    background: #fff;
    border: 1px solid #dedede;
  }

  table thead tr th {
    padding: 20px;
    border: 1px solid #dedede;
    color: #000;
  }

  table.table-striped tbody tr:nth-of-type(odd) {
    background: #f9f9f9;
  }

  table tr td {
    padding: 10px 20px;
    border: 1px solid #dedede;
  }
  table.result-point tr td .fa.fa-caret-up {
    color: green;
  }

  table.result-point tr td .fa {
    font-size: 20px;
    position: absolute;
    right: 20px;
  }

  table tr td {
    padding: 10px 40px;
    border: 1px solid #dedede;
  }

  table tr td img {
    max-width: 32px;
    float: left;
    margin-right: 11px;
    margin-top: 1px;
    border: 1px solid #dedede;
  }
</style>
{% endblock %}
