{% extends 'cards/base.html' %} {% block content %}
<section class="main-hub">
  {% if user.is_authenticated %}
  <div class="page-title container-sm text-center shadow rounded mx-auto">
    <h1>Your Scorecard</h1>
  </div>
  <br />
  <div
    class="main-card container-sm text-center shadow rounded mx-auto"
    style="padding-bottom: 5em"
  >
    <form action="" method="POST">
      {% csrf_token %}
      <table class="table mw-75">
        <thead>
          <tr>
            <th scope="col" class="float-end"><h3>Bar Name</h3></th>
            <th scope="col" class="text-center"><h3>Par</h3></th>
            <th scope="col" style="text-align: left !important">
              <h3>Score</h3>
            </th>
          </tr>
        </thead>
        {% load getbyindex %} {% for field in form %}
        <tr>
          <td class="float-end" style="margin-top: 2px">
            <h4>{{ field.label }}</h4>
          </td>
          <td class="text-center">
            <h4>{{ par|index:forloop.counter0 }}</h4>
          </td>
          <td style="text-align: left !important">
            <div>
              <input
                type="button"
                onclick="decrement('{{ field.auto_id }}')"
                class="decrement"
                value="-"
              />
              {{ field }}
              <input
                type="button"
                onclick="increment('{{ field.auto_id }}')"
                class="increment"
                value="+"
              />
            </div>
          </td>
        </tr>
        {% endfor %}
      </table>
      <input type="submit" value="Submit" class="btn btn-secondary" />
    </form>
  </div>
</section>
<style>
  .decrement,
  .increment {
    align-items: center;
    appearance: none;
    border-radius: 4px;
    border-width: 0;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,
      rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
    box-sizing: border-box;
    color: #36395a;
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    position: relative;
    text-align: left;
    transition: box-shadow 0.15s, transform 0.15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow, transform;
    height: 2em;
    width: 2em;
    font-size: 1.1em;
    font-weight: bold;
    padding: 0;
  }

  .decrement {
    background-color: #fcfcfd;
  }

  .decrement:focus,
  .increment:focus {
    box-shadow: #d6d6e7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px,
      rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
  }

  .decrement:hover,
  .increment:hover {
    box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px,
      rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
    transform: translateY(-2px);
  }

  .decrement:active,
  .increment:active {
    box-shadow: #d6d6e7 0 3px 7px inset;
    transform: translateY(2px);
  }

  .score-input {
    height: 2em;
    width: 3em;
    font-size: 1em;
    text-align: center;
  }
  @media (max-width: 768px) {
    .main-card {
      padding-right: 0;
      padding-left: 0;
    }
  }
</style>
<script>
  function increment(id_in) {
    var input_id = id_in.toString();
    var input = document.getElementById(input_id);
    input.value = parseInt(input.value) + 1;
  }

  function decrement(id_in) {
    var input_id = id_in.toString();
    var input = document.getElementById(input_id);
    input.value = parseInt(input.value) - 1;
  }
</script>
{% else %}
<div class="container text-center shadow p-4 mb-5 bg-body rounded">
  <h1>
    Please
    <a class="link-opacity-75-hover active" href="{% url 'login' %}">login</a>
    or
    <a class="link-opacity-75-hover active" href="{% url 'register' %}"
      >sign up</a
    >
    to submit scores.
  </h1>
</div>
{% endif %} {% endblock %}
